* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full1-1img {
  width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
}
p{
   position: absolute;
  top: 4%; 
  left: 3%;
  z-index: 10; 

}
h1{
  position: absolute;
  top: 0%; 
  left: 3%;
  z-index: 10;

}
body {
  font-family: "Arial", "Helvetica", sans-serif;
}

.back{
  position: absolute;
  top: 0%; 
  left: 0%;
  z-index: 10;
  font-size: 40px;
  color: white;

}
