a {
  display: block;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.full1-img {
  width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 
}
.small1-img {
	position: absolute;
  top: 2.5%; 
  left: 38.8%;
  width: 300px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small1-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;
}

.small2-img {
	position: absolute;
  top: 29%; 
  left: 43.9%;
  width: 70px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small2-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}

.small3-img {
	position: absolute;
  top: 29%; 
  left: 49%;
  width: 70px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small3-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}

 .small4-img {
	position: absolute;
  top: 82%; 
  left: 81%;
  width: 88px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
  background: orange;

}
.small4-img:hover {
  filter: hue-rotate(-50deg) saturate(3);
  transition: 0.3s;}

.small5-img {
  position: absolute;
  top: 19%;
  bottom: 0%; 
  left: 27%;
  width: 730px; /* 너 원하는 크기로 조절 */
  z-index: 0; /* 배경보다 앞에 나오게 */
  background: orange;

}

.fullm2-1-img{
   width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; 

}
@media screen and (max-width: 800px) {
.full1-img{
   width: 100%;
  height: 100vh;                 
  background-image: url('1.jpg');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat; }

.small1-img{
  position: absolute;
  top: 16.6%; 
  left: 36%;
  width: 170px; 
  z-index: 10; 
}
.small2-img{
  position: absolute;
  top: 31.5%; 
  left: 41.5%;
  width: 42px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */
}
.small3-img{
  position: absolute;
  top: 31.5%; 
  left: 49%;
  width: 45px; /* 너 원하는 크기로 조절 */
  z-index: 10; /* 배경보다 앞에 나오게 */

}

.small4-img{
  position: absolute;
  top: 64%; 
  left: 90%;
  width: 70px; /* 너 원하는 크기로 조절 */
  z-index: 10; 

}
.small5-img{
  position: absolute;
  top: 25%;
  bottom: -70%; 
  left: 20%;
  width: 400px; 
  z-index: 1s0; 
  }
}
